<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>View Planet</title>
    <%- include('../partials/_header');%>
  </head>
  <body>
    <%- include('../partials/_navbar');%>
    <div>
      <h1><%=planet.name%></br></h1>
      <h4>Created by: <%=creator.username%></br></h4>
      x: <%=planet.x%> y: <%=planet.y%></br>
      <%=planet.about%>
    </div>
  </body>
</html>
